$color-white: #fff;
$color-white-gray: #f5f5f5;
$color-light-gray: #eee;
$color-gray: #d5d5d5;
$color-dark-gray: #777;
$color-black: #222;

$fast: 200ms;
$slow: 600ms;



@mixin center {
  margin-left: auto;
  margin-right: auto;
}

@mixin lineafter {
  &::after {
    content: '';
    display: block;
    height: 3px;
    width: 7%;
    margin-top: 2rem;
    background-color: $color-primary;
  }
}

.article {
  @extend %block-full-bound;
  @include center;
  // padding: 5rem 6rem;
  margin-bottom: 3rem;
  background-color: $color-white;

  .highlight {
    @extend %block-unbound-horizontal;
  }
}

.article__title {
  line-height: 1;

  // line with primary color under element
  @include lineafter;
}

.article__link {
  transition: color $fast;
  &, &:visited {
    color: $color-black;
    &:hover, &:focus {
      background-color: transparent;
      text-decoration: none;
      color: $color-dark-primary;
    }
  }
}



.article__meta {
  display: inline-block;
  margin-right: 2rem;
  font-size: .9em;
  .fa {
    margin-right: .5em;
  }
}

.article__footer {
  .btn {
    text-align: center;
    display: block;
  }
  @include larger-than-medium {
    display: flex;

    .btn {
      display: inline;
    }
  }

  margin-top: 3rem;
}

.article__tags {
  margin-top: 2rem;

  .tag-link {
    &:not(:first-of-type) {
      margin-left: 2rem;
    }
  }
  @include larger-than-medium {
    margin-left: auto;
    margin-top: 0;
  }
}

.tag-link {
  // display: inline-block;
  // margin-left: 2rem;
  border-radius: 4px;
  // padding: .25rem .5rem;

  &, &:visited {
    color: #222;
    background-color: #eee;
  }

  &:hover {
    text-decoration: none;
    background-color: $color-primary;
    color: #fff;
  }

  &::before {
    content: "\f02b";
    margin-right: 1rem;
    font-family: FontAwesome;
  }
}

.article {
  max-width: 900px;
}

.article__meta {
  margin-top: 1rem;
  color: #777;



  .article__link {
    margin-right: 2rem;
    color: inherit;
    display: block;
    @include larger-than-small {
      display: inline;
    }
  }
}
