$base-font-family: 'Arimo', sans-serif;
$headings-font-family: 'PT Sans', sans-serif;

$base-font-size: 1.7em;
$base-line-height: 2.05;

$color-black: #2f2f2f;
$color-black-gray: lighten($color-black, 10%);
$color-dark-gray: lighten($color-black, 20%);

$color-primary: #2979FF;
$color-dark-primary: darken($color-primary, 20%);
